body {
  background-color: #262425;
}

#nav {
  background-color: transparent;
}

#nav > a {
  font-family: "Bebas Neue", cursive;
  color: black;
  font-size: 18px;
  display: block;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

h1,
nav {
  background-image: url("https://unsplash.com/photos/7qTVHTZdTnc");
}
/*Scritta Bruxelles*/
#title {
  display: flex;
  font-family: "Bebas Neue", cursive;
  color: black;
  padding: 10px 10px 10px 10px;
  font-size: 130px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*immagine di sfondo iniziale*/
#background {
  width: 100%;
  height: 95vh;
  background: url("alvaro-polo-7qTVHTZdTnc-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
  background-size: 100%;
  background-attachment: scroll;
}
/*Scritta News feed*/
#news {
  font-family: "Bebas Neue", cursive;
  color: #c1c1c1;
  font-size: 50px;
  text-align: center;
  position: relative;
  padding-top: 30px;
}
/*class immagini riferita alle 3 immagini nel news feed*/
.img {
  width: 100%;
  height: 100%;
}

.news-item {
  width: 100%;
  height: 100%;
  padding: 1rem;
  transition: 1s background-color;
}

.news-title {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 30px;
  text-align: center;
  opacity: 0;
  transition: 0.5s opacity;
}

/*immagine della statua mannekin-pis*/
#manneken-pis {
  background-image: url("https://images.placesonline.com/photos/424012007170524_Bruxelles_498320908.jpg?quality=80&w=710&h=510&mode=crop");
  background-position: center center;
  background-size: cover;
}
/*immagine dell'atomium*/
#atomium {
  background-image: url("https://images.unsplash.com/photo-1561404751-d86642d396f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-position: center center;
  background-size: cover;
}
/*immagine della piazza grote-markt*/
#grote-markt {
  background-image: url("https://images.unsplash.com/photo-1571383962150-87f1c46d8125?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1500&q=80");
  background-position: center center;
  background-size: cover;
}

/*testi sulle immagini*/
.news-text {
  font-family: "Lato", sans-serif;
  color: white;
  text-align: justify;
  padding: 0 10px;
  font-size: 15px;
  opacity: 0;
  transition: 1s opacity;
}

.news-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.news-item:hover .news-text,
.news-item:hover .news-title {
  opacity: 100%;
}

footer {
  background-color: #c1c1c1;
  height: 70px;
  width: 100%;
  margin-top: 40px;
  padding: 20px;
}
#footer-text {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

#footer-credits {
  font-family: "Bebas Neue", cursive;
  color: #262425;
  font-size: 20px;
  text-align: right;
}

a {
  color: #262425;
}
